@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply h-fit w-fit px-4 py-1 text-white rounded-3xl cursor-pointer hover:bg-opacity-70 transition-all duration-300 ease-linear
    }
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #006fee22;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #006feeee;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}
