@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply h-fit w-fit px-4 py-1 text-white rounded-3xl cursor-pointer hover:bg-opacity-70 transition-all duration-300 ease-linear
    }
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #006fee22;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #006feeee;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* FAQ Section */

.faq .faq-btn::after {
    content: "+";
    @apply text-lg font-semibold text-white;
}

.faq.active .faq-btn::after {
    content: "-";
}

.faq .faq-content {
    @apply max-h-0 py-0 opacity-0 transition-all duration-300 ease-linear;
}

.faq.active .faq-content {
    @apply max-h-fit py-[30px] opacity-100;
}


/* Reverser spin */
@keyframes reverse-spin {
    to {
        transform: rotate(-360deg);
    }
}
.animate-reverse-spin {
    animation: reverse-spin 5s linear infinite;
}

/* Slow spin */
@keyframes slow-spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-slow-spin {
    animation: slow-spin 5s linear infinite;
}

/* One spin */
@keyframes one-spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-one-spin {
    animation: one-spin 1s linear;
}

/* Rich Text Decoration */
h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

li {
    font-size: 16px;
    margin: 0 70px;
}

@media (min-width: 768px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }

    li {
        margin: 0 50px;
    }

    .bg-custom-postion {
        background-position: 35% 60%;
    }
}

@media (min-width: 1024px) {
    h1 {
        font-size: 36px;
    }
    
    h2 {
        font-size: 24px;
    }

    p {
        font-size: 18px;
    }

    li {
        font-size: 18px;
        margin: 0 70px;
    }
}

ul li {
    list-style-type: disc;
}

ol li {
    list-style-type: decimal;
}

.ql-align-center {
    text-align: center;
}