@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply h-fit w-fit px-4 py-1 text-white rounded-3xl cursor-pointer hover:bg-opacity-70 transition-all duration-300 ease-linear
    }
}

.rtl {
    direction: rtl !important;
}

.ltr {
    direction: ltr !important;
}

::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #006fee22;
    border-radius: 5px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #006feeee;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

/* FAQ Section */

.faq .faq-btn::after {
    content: "+";
    @apply text-lg font-semibold text-white;
}

.faq.active .faq-btn::after {
    content: "-";
}

.faq .faq-content {
    @apply max-h-0 py-0 opacity-0 transition-all duration-300 ease-linear;
}

.faq.active .faq-content {
    @apply max-h-fit py-[30px] opacity-100;
}

@keyframes reverse-spin {
    to {
        transform: rotate(-360deg);
    }
}
.animate-reverse-spin {
    animation: reverse-spin 5s linear infinite;
}

@keyframes slow-spin {
    to {
        transform: rotate(360deg);
    }
}
.animate-slow-spin {
    animation: slow-spin 5s linear infinite;
}